body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mybtn {
    width: 268px;
	height: 150px;
	margin-top: 2px;
	margin-left: 1px;
	margin-right: 1px;
}

.ansbtn {
    width: 45%;
	height: 75px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#points {
	font-size: 50px;
	margin-bottom: 10px;
	#bluePoints {
		color: blue;
	}
	#redPoints {
		color: red;
	}
}

#blueTeam {
	height: 400px;
	width: 20%;
	margin-right: 5%;
	padding: 15px;
	background-color: rgba(0,0,255,0.6);
}

#redTeam {
	height: 400px;
	width: 20%;
	margin-left: 5%;
	padding: 15px;
	background-color: rgba(255,0,0,0.6);
}

#quiz {
	height: 300px;
	width: 100%;
}

#question {
	height: 100px;
	width: 100%;
	padding: 20px;
	font-size: 20px;
}

#chatLog {
	height: 90px;
	width: 100%;
	margin-top: 5px;
	background-color: rgba(255,255,0,0.4);
	overflow-y: scroll;
}

#message {
	width: 470px;
}

#wszystko {
	width: 50%;
	height: 50%;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

#loginForm {
	width: 45%;
	margin-right: 5%;
}

#registerForm {
	width: 45%;
	margin-left: 5%;
}

#red {
	color: red;
}

#blue {
	color: blue;
}