 <!doctype html>
 <html>
  <head>
      <title>login</title>
      <link rel='stylesheet' href ='/stylesheets/style.css' />
      <link rel='stylesheet' href ='bootstrap.css' />
      <script type='text/javascript' src='/socket.io/socket.io.js'></script>
      <script type='text/javascript' src='jquery.min.js'></script>
      <script type='text/javascript' src='bootstrap.js'></script>
  </head>

  <body>
    LOGOWANIE<br/>
    <div id="loginForm">
      <form action="/login" method="post">
      <div><label>Użytkownik:</label>
      <input type="text" name="username"/><br/></div>
      <div><label>Hasło:</label>'
      <input type="password" name="password"/></div>
      <div><input type="submit" value="Zaloguj"/></div></form>
    </div>
    <br/>

    REJESTRACJA<br/>
    <div id="registerForm">
      <form action="/register" method="post">
      <div><label>Użytkownik:</label>
      <input type="text" name="username"/><br/></div>
      <div><label>Hasło:</label>'
      <input type="password" name="password"/></div>
      <div><label>Powtórz hasło:</label>'
      <input type="password" name="password2"/></div>
      <div><input type="submit" value="Zarejestruj"/></div></form>
    </div>

   </body>
 </html>