body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mybtn {
    width: 268px;
	height: 150px;
	margin-top: 2px;
	margin-left: 1px;
	margin-right: 1px;
}